.nav-collapse {
    align-items: center;
    justify-content: space-between;
    
    .menu {
        background-color: #0f0f0f;
        font-size: 15px;
        font-weight: bolder;
        color: #f0f0f0;
    }
}

/* footer */
.footer {
    font-size: 15px;
    margin: 0;
    background-color: black;
    padding: 5px;
    text-align: center;
    color: #f0f0f0;
    width: 100%;
    height: 170px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    a {
        color: rgb(237, 130, 228);
    }
    .p-footer {
        color: #fff;
        margin: 5px;
    }

}